<h1><%= @team.title %></h1>

<h3>Leden</h3>
<p>
	<% @members.each do |member| %>
		<%= member.name %>
	<% end%>
</p>

<h3>Trainingen</h3>
<table>
<% @workouts.each do |workout| %>
  <tr>
    <td><%= link_to workout.title, [@team, workout] %></td>
    <td><%= l workout.date %></td>
    <td><%= link_to 'Verwijderen', [@team, workout], :confirm => 'Verwijderen?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p><%= link_to 'Nieuwe training toevoegen', new_team_workout_path(@team) %></p>
