<h1>Editing workout</h1>

<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% @workout.team.members.each do |member|
		@member_workout = @workout.get_a_member_workout_for(member)
		%>
		<%= f.fields_for "member_workout[]" do |fmw| %>
			name: <%= member.name %>
			<% member_workout.intervals.each do |@interval| %>
				<%= fields_for "interval[]" do |fi| %>
				  <div class="field">
				    <%= fi.label :pace %><br />
				    <%= fi.text_field :pace %>
				  </div>
				  <div class="field">
				    <%= fi.label :hravg, "Average heartrate" %><br />
				    <%= fi.text_field :hravg %>
				  </div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @workout %> |
<%= link_to 'Back', workouts_path %>
