<h1><%= @workout.title %> op <%= @workout.date %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% @workout.team.members.each do |member| %>
		<div class='member'>
			<div class='member_name'><%= member.name %></div>
			
			<div class='member_workout ajaxdiv' data-ajaxurl='<%= workout_get_for_member_path(@workout._id, member._id)%>'>
				<% member_workout = @workout.get_for member %>
				<% if member_workout %>
					<%= render :partial => "workouts/edit_member_workout", :locals => { :member_workout => member_workout } %>
				<% else %>
					<div class='no_data_yet'><a class='add_member_workout' href='#'>Gegevens invoeren</a></div>
			<% end %>
			</div>
			
		</div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', workouts_path %>
