<% if notice %><p id="notice"><%= notice %></p><% end %>

<%= form_for [@team, @workout] do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @workout.errors.count, "error" %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% @workout.team.members.each do |member|
		member_workout = @workout.get_for member
		%>
		<div class='member_workout'>
			<div class='header'>
				<div class='member_name'><%= member.name %></div>
				<% if member_workout %>
					<div class='pace_cell'><%= Pace.to_s(member_workout.intervals_average :pace_as_float) %></div>
					<div class='hravg_cell'>♡ <%= member_workout.intervals_average :hravg %></div>
					<div class='buttons_cell'><a class='show_member_workout' href='javascript:'>Details</a></div>
				<% else %>
					<div class='buttons_cell'><a class='show_member_workout' href='javascript:'>Details</a></div>
				<% end %>
				<div class='clear'></div>
			</div>
			
			<div class='content' data-ajaxurl='<%= workout_get_for_member_path @team, @workout, member%>'></div>
			
		</div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>