<% if notice %><p id="notice"><%= notice %></p><% end %>

<%= form_for [@team, @workout] do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @workout.errors.count, "error" %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div>
		<%= f.label :comment, "Opmerkingen" %><br />
		<%= f.text_area :comment %>
	</div>

	<% @workout.team.members.each do |member|
		member_workout = @workout.get_for member
		if member_workout
			avg_pace = member_workout.intervals_average :pace_as_float
			avg_hravg = member_workout.intervals_average :hravg
		end
		%>
		<div class='member_workout'>
			<div class='header'>
				<div class='member_name'><%= member.name %></div>
				<div class='pace_cell'><%= (avg_pace && avg_pace > 0) ? (Pace.to_s avg_pace) : "-" %></div>
				<div class='hravg_cell'>♡ <%= (avg_hravg && avg_hravg > 0) ? avg_hravg : "-" %></div>
				<div class='buttons_cell'><a class='show_member_workout' href='javascript:'>Details</a></div>
				<div class='clear'></div>
			</div>
			
			<div class='content' data-ajaxurl='<%= workout_get_for_member_path @team, @workout, member%>'></div>
			
		</div>
	<% end %>
  <div class="actions">
    <%= f.submit "Opslaan" %>
		<%= link_to 'Verwijderen', [@team, @workout], :confirm => 'Training verwijderen?', :method => :delete %>
  </div>
<% end %>