<!DOCTYPE html>
<html>
<head>
  <title>Ergtraining</title>
  <%= stylesheet_link_tag 'global' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!--[if IE 6]> <%= stylesheet_link_tag 'ie' %> <![endif]-->
  <%= javascript_include_tag "mootools-core.js" %>
  <%= javascript_include_tag "mootools-more.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
