<!DOCTYPE html>
<html>
<head>
  <title>Ergtraining</title>
  <%= stylesheet_link_tag 'global' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!--[if IE 6]> <%= stylesheet_link_tag 'ie' %> <![endif]-->
  <%= javascript_include_tag "mootools-core" %>
  <%= javascript_include_tag "mootools-more" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id='body'>
<div id='header_pane' class='header_pane'><h1><%= @team.title %></h1></div>
<div class='body_container'>
	<div id='left_pane' class='left_pane'>
		<p><%= link_to 'Nieuwe training toevoegen', new_team_workout_path(@team), :id => 'new_workout_link' %></p>
		<table>
		<% @team.workouts.all.sort{|x,y| y.date <=> x.date}.each do |workout| %>
		  <tr class='<%= (workout == @workout) ? 'active' : '' %> <%= (workout.date < Date.tomorrow) ? 'in_past' : ''%>'>
		    <td><%= l workout.date %></td>
		    <td><%= link_to workout.title, [@team, workout] %></td>
		  </tr>
		<% end %>
		</table>
	</div>

	<div id='right_pane' class='right_pane'>
		<%= yield %>
	</div>
</div>
</body>
</html>